<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trash - 예수동행일기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>휴지통</h1>
    {% if diaries %}
        <table>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>내용</th>
                    <th>예수님의 말씀</th>
                    <th>삭제된 날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for diary in diaries %}
                    <tr>
                        <td>{{ diary[2] }}</td>
                        <td>{{ diary[3] }}</td>
                        <td>{{ diary[4] }}</td>
                        <td>{{ diary[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>휴지통이 비어 있습니다.</p>
    {% endif %}
    <a href="{{ url_for('diaries') }}">일기 목록으로 돌아가기</a>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>