<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diaries - 예수동행일기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>일기 목록</h1>
    <ul>
    {% for diary in diaries %}
        <li>
            <h2>{{ diary[2] }}</h2>
            <p>{{ diary[3] }}</p>
            <p>예수님의 말씀: {{ diary[4] }}</p>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('write') }}">새 일기 작성</a>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>