<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - 예수동행일기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>회원가입</h1>
    <form method="post">
        <label for="username">사용자명:</label>
        <input type="text" id="username" name="username" required><br>
    
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br>
    
        <label for="email">이메일:</label>  <!-- 추가 -->
        <input type="email" id="email" name="email" required><br>  <!-- 추가 -->
    
        <input type="submit" value="회원가입">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>